div#container{
    margin-left: .9em;
    margin-right: .5em;
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    justify-content: space-between;
    p{
        padding: 0;
        margin: 0 0 0 0.6em;
        color: #fff;
    }
    div#sino{
        display: flex;
        height: 55px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        &:hover ul{
            display: inline ;
        }
        &:hover  #arrow-up {
            display: inline ;
        }
        img{
            width: 25px;
        }
        ul{
            width: 200px;
            display:none;
            padding: 0;
            text-align: center;
            right: 6em;
            position:absolute;
            text-align: center;
            background: #ffffff;
            border-radius: .3em;
            border:1px solid #ffffff; 
            top: 4.1em;
           
                li{
                    list-style: none;
                   a{
                       padding:0 ;
                       text-decoration: none;
                       color: #000;
                   
                   }
               }
        }
        #arrow-up{
            display: none;
            width: 0;
            height: 0;
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid #ffffff;
            right: 15.1em ;
            top: 3.5em;
        }
        div.notificacao{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            top: .8em;
            right: 15.1em;
            position: absolute;
            background-color: rgb(189, 35, 35);
            color: rgb(255, 255, 255);
            width: 22px;
            height: 22px;
            border-radius: 50%;
        }            
 }
    div.avatar{
        display: flex;
        height: 60px;
        width: 60px;
        align-items: center;
        justify-content: center;
        z-index: 1;

        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            &:hover{
                cursor: pointer;
            }
        }
        &:hover #perfilAvatar{
            display: inline ;
        }
        &:hover  #arrow-up {
            display: inline ;
        }
    
    #arrow-up{
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid #757373;
        right: 2.2em ;
        top: 3.7em;
    } 
    div#perfilAvatar{
        display: none;
        position: absolute;
        width: 180px;
        border-radius: .3em;
        box-shadow: 0 .3em .3em #000;
        z-index: 1px;
        background:#757373;
        right: 2em ;
        top: 4.2em;
        padding: .7em;
        text-align: center;
        hr{
            width: 50%;
            background: #fff;
        }
            a{
                text-decoration: none;
                color: #fff;
                &:hover{
                    font-weight: bold;
                }
    
            }  
    }
    }
}


