<div id="container">
        <div id="sino">
          <div class="notificacao" *ngIf="this.Service.PreceptorAdministrador()"><span>{{UsuariosPendentes+CasosPendentes }}</span></div>
         <img  src="../../../../assets/images/bell.png" alt="">
          <div *ngIf="this.Service.PreceptorAdministrador()" id="arrow-up" [class]="sino" ></div>
          <ul *ngIf="this.Service.PreceptorAdministrador()" >
            <li ><a routerLink="usuariopendecias">Usuarios : {{UsuariosPendentes}}</a></li>
            <li ><a routerLink="Homologacao">Casos : {{CasosPendentes}}</a></li>
          </ul>
        </div>
        <p >{{usuario.DS_NOME}}</p>
      
        <div class="avatar" >
            <img  [src]="usuario.IM_FOTO" alt="avatar">
          <div id="arrow-up" ></div>
           <div id="perfilAvatar">
              <a  routerLink="perfil" routerLinActive="active">perfil</a>
               <hr>
               <div *ngIf="this.Service.PreceptorAdministrador()">
               <a  routerLink="Homologacao" routerLinActive="active">Homologação pendentes:{{CasosPendentes}}</a>
               <hr>
               <a routerLink="usuariopendecias" routerLinActive="active">Usuarios pendentes: {{UsuariosPendentes}}</a>
               <hr>
               <a routerLink="/colaboradores" routerLinActive="active">Colaboradores</a>
               <hr> 
               </div>        
              <a  (click)="Logout()">Sair</a>
         </div>    
       </div>
      
           
</div>
