@text-nav2 : #004560;
@text-nav : #01E065;
div#container{
    font-family: 'Lato', sans-serif ;
    margin-left: .9em;
    //margin-right: .5em;
    display: flex;
    align-items: center;
    width: 250px;
    height: 40px;
    justify-content: space-between;
    p{
        padding: 0;
        margin: 0 0 0 0.6em;
        color: @text-nav2;
    }
    div#sino{
        display: flex;
        height: 50px;
        width: 50px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        &:hover{
            cursor: pointer;

        }
        &:hover ul{
            display: inline ;
        }
        &:hover  #arrow-up {
            display: inline ;
        }
        img{
            width: 25px;
        }
        ul{
            // sino
            width: 200px;
            display:none;
            padding: 0.5em 0px;
            text-align: center;
            right: 8em;
            position:absolute;
            text-align: center;
            background: #ffffff;
            border-radius: .3em;
            border:1px solid @text-nav2; 
            box-shadow: 0 .3em .3em #000;
            top: 4.1em;
           
                li{
                    width: 70%;
                    margin: auto;
                    list-style: none;
                    padding-bottom: 8px;
                  
                    border-bottom: 1px solid @text-nav2;
                    
                    &:last-child{
                        padding-top: 4px;
                        border: none;
                    }
                   a{
                       padding:0 ;
                       text-decoration: none;
                       color: @text-nav2;
                       &:hover{
                           cursor: pointer;
                           color: @text-nav;
                       }
                   
                   }
               }
               hr{
                   margin: 3px auto ;
                 
                   width: 50%;
                   background-color: @text-nav2;
                   
               }
        }
        #arrow-up{
            //sino seta 
            display: none;
            width: 0;
            height: 0;
            position: absolute;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid @text-nav2;
           
            right: 15.9em ;
            top: 3.5em;
        }
        div.notificacao{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            top: .9em;
            right: 15.7em;
            position: absolute;
            background-color: rgb(189, 35, 35);
            color: rgb(255, 255, 255);
            width: 22px;
            height: 22px;
            border-radius: 50%;
        }            
 }
    div.avatar{
        display: flex;
        height: 80px;
        width: 65px;
        align-items: center;
        justify-content: center;
        z-index: 1;
        

        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
            &:hover{
                cursor: pointer;
            }
        }
        &:hover #perfilAvatar{
            display: inline ;
        }
        &:hover  #arrow-up {
            display: inline ;
        }
    // modal perfil
    #arrow-up{
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid @text-nav2;
        right: 3.8em ;
        top: 4em;
    } 
    ul#perfilAvatar{
        color: @text-nav2;
        list-style-type: none;
        display: none;
        position: absolute;
        width: 180px;
        border:1px solid @text-nav2; 
        border-radius: .3em;
        box-shadow: 0 .3em .3em #000;
        z-index: 1px;
        background:#ffffff;
        right: 2em ;
        top: 4.5em;
        padding: .7em;
        text-align: center;
        hr{
            width: 80px;
            background: @text-nav2;
        }
            a{
                text-decoration: none;
                color: @text-nav2;
                &:hover{
                    cursor: pointer;
                    color: @text-nav;
                }
    
            }  
    }
    }
}


