div.dropdown{
    width: 100%;
    height: 100%;
    display: flex;
} 
ul.active{
    display: none;
}
ul {
    display: flex;
    margin: 0;
    padding: 0;
   
   li{
       margin: auto;
       list-style: none;
      a{
        margin-left: .7em;  
       }
   }
   
}
