<div class="dropdown">
        <button type="button" class="btn btn-secondary" (click)="active()" > &#10148; {{M}}</button>
        <ul class="{{lu}}" >
            <li><a  (click)="activeHome()" routerLink=""><button type="button" class="btn btn-secondary">Home</button></a></li>
            <li><a  (click)="activeCS()" routerLink="casos"><button type="button" class="btn btn-secondary">Casos Clinicos</button></a></li>
            <li><a  (click)="activeRe()" routerLink="registrar"><button type="button" class="btn btn-secondary">Registrar</button></a></li>
            <li><a  (click)="activeRe()" routerLink="Homologacao"><button type="button" class="btn btn-secondary">Homologação </button></a></li>
            <li><a  (click)="activeRe()" routerLink="perfil/formulario"><button type="button" class="btn btn-secondary">UserForm</button></a></li>
            <li><a  (click)="activeRe()" routerLink="usuariopendecias"><button type="button" class="btn btn-secondary">UserPendentes </button></a></li>
        </ul>
</div>
    
    