<section id="perfil">
  
    <div class="media">
        <img [src]="userData.IM_FOTO" class="mr-3" alt="...">
        <div class="media-body">
          <h6 class="mt-0">Perfil</h6>
          <h6>Nome:</h6>
          <span>{{userData.DS_NOME}}</span>
          <h6>E-mail:</h6>
            <span>{{userData.DS_EMAIL}}</span>
           <h6> CPF:</h6>
           <span>{{userData.NU_CPF}}</span>
           <h6>Perfil:</h6>
           <span>{{atributos.Perfis[userData.CO_PERFIL]}}</span>
           <h6>Papel no Sistema:</h6>
           <span>{{atributos.Papeis[userData.CO_PAPEL]}}</span>
             <div *ngIf="userData.CO_PAPEL == 6">
           <p>Deseja entrar como colaborador click <a routerLink="formulario">Aqui</a></p>
           </div>
           <div *ngIf="userData.CO_PAPEL != 6">
           <p>Deseja alterar seu papel no sistema click <a routerLink="formulario">Aqui</a></p>
           </div>
        </div>
      </div>
    
</section>
