<section>
    <div id="principal" >
        <div class="idcaso"> <h5  >Caso: #{{CasoClinico.CO_SEQ_CASO_CLINICO}}</h5></div>

            <div id="titulo">
                <div id="Historia">
                    <div class="inicio">
                        <h4 *ngIf="CasoClinico.CO_STATUS == 4" >Publicação da semana</h4>
                        <h4 *ngIf="CasoClinico.CO_STATUS != 4" >Caso Clínico</h4>
                        <span> contributed by {{autorCaso}} </span>
                        <p> <strong>Categoria: </strong> {{CasoClinico.CO_CATEGORIA}}</p>
                        <p> <strong>Subcategoria: </strong> {{CasoClinico.CO_SUBCATEGORIA}}</p>
                    </div>
                    <img *ngIf="Img" class="capa" src="{{hostApi}}{{Img}}"alt=""> 
                    </div>
                    <div  class="Historiatext">
                    <h6> <strong>História Clínica</strong></h6>
                    <p>{{CasoClinico.DS_HISTORIA_CLINICA}}  Laravel's database query builder provides a convenient, fluent interface to creating and running database queries. It can be used to perform most database operations in your application and works on all supported database systems.

                    The Laravel query builder uses PDO parameter binding to protect your application against SQL injection attacks. There is no need to clean strings being passed as bindings.
                    Laravel's database query builder provides a convenient, fluent interface to creating and running database queries. It can be used to perform most database operations in your application and works on all supported database systems.

                    The Laravel query builder uses PDO parameter binding to protect your application against SQL injection attacks. There is no need to clean strings being passed as bindings. </p>
                    </div>
                </div>
    </div>

   
<!---->

  <!--corpo-->


  <nav id="RegisterCases">
                <ul>
                <li><button type="button" [class.active]="classes[0]" (click)="toggle(classes, 0)"><span>1</span>Descrição dos achados</button></li>
                <li><button type="button" [class.active]="classes[1]" (click)="toggle(classes, 1)"><span>2</span>Diagnóstico</button></li>
                <li><button type="button" [class.active]="classes[2]" (click)="toggle(classes, 2)"><span>3</span>Discussão</button></li>
                <li><button type="button" [class.active]="classes[3]" (click)="toggle(classes, 3)"><span>4</span>Referência </button></li>
             
                </ul>

                <div id="toggleclasses"  enctype="multipart/form-data">
                        <div id="BNT0"  [class.active]="classes[0]">
                                <div  [class.active]="classes[0]">
                                    <p> {{CasoClinico.DS_ACHADOS_DAS_IMAGENS}}  Suspendisse nec tincidunt nulla. Aliquam et urna magna.
                                            Suspendisse et tortor libero. Mauris risus tellus, auctor eu
                                            placerat at, auctor a lacus. Nunc porta urna vel luctus porta.
                                            Pellentesque vulputate tortor velit, non sodales sapien dictum at.
                                            Mauris cursus, neque vel egestas posuere, felis ligula mollis
                                            leo, id scelerisque neque dui sed elit. Maecenas in purus sed
                                            massa semper elementum. Nunc id bibendum dolor, imperdiet blandit
                                            urna. Vestibulum ultrices sem nisl, et tincidunt tortor imperdiet
                                            eget. Maecenas faucibus nisl nec mi aliquam pellentesque eget et ex.
                                            In ut turpis eget dui maximus volutpat id a arcu. </p>

                                    <div  [class.active]="classes[0]" id="Cards">
                                                <div [class.active]="classes[0]" class="imagens">
                                                    <div [class.active]="classes[0]" *ngFor="let url of  CasoClinico.images; let index = index">
                                                        {{  Letras[index]}}
                                                        
                                                        <img data-toggle="modal" data-target="#exampleModal"  (click)="ModalImg(url, index)"  src="{{hostApi}}{{url}}" alt="">
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                        </div>
                        <div id="BNT1" [class.active]="classes[1]" >
                                <div [class.active]="classes[1]">
                                     <p>{{CasoClinico.DS_DIAGNOSTICO}} descricao dos achados Suspendisse nec tincidunt nulla. Aliquam et urna magna. Suspendisse et tortor libero. Mauris risus tellus, auctor eu placerat at, auctor a lacus. Nunc porta urna vel luctus porta. Pellentesque vulputate tortor velit, non sodales sapien dictum at. Mauris cursus, neque vel egestas posuere, felis ligula mollis leo, id scelerisque neque dui sed elit. Maecenas in purus sed massa semper elementum. Nunc id bibendum dolor, imperdiet blandit urna. Vestibulum ultrices sem nisl, et tincidunt tortor imperdiet eget. Maecenas faucibus nisl nec mi aliquam pellentesque eget et ex. In ut turpis eget dui maximus volutpat id a arcu. </p>
                                </div>
                        </div>
                        <div id="BNT2" [class.active]="classes[2] " >
                                <div  [class.active]="classes[2]">
                                        <p>{{CasoClinico.DS_DISCUSSAO}} descricao dos achados Suspendisse nec tincidunt nulla. Aliquam et urna magna. Suspendisse et tortor libero. Mauris risus tellus, auctor eu placerat at, auctor a lacus. Nunc porta urna vel luctus porta. Pellentesque vulputate tortor velit, non sodales sapien dictum at. Mauris cursus, neque vel egestas posuere, felis ligula mollis leo, id scelerisque neque dui sed elit. Maecenas in purus sed massa semper elementum. Nunc id bibendum dolor, imperdiet blandit urna. Vestibulum ultrices sem nisl, et tincidunt tortor imperdiet eget. Maecenas faucibus nisl nec mi aliquam pellentesque eget et ex. In ut turpis eget dui maximus volutpat id a arcu.</p>
                                </div>
                        </div>
                        <div id="BNT3" [class.active]="classes[3] ">
                                <div  [class.active]="classes[3]">
                                       <p>{{CasoClinico.DS_REFERENCIAS}} descricao dos achados Suspendisse nec tincidunt nulla. Aliquam et urna magna. Suspendisse et tortor libero. Mauris risus tellus, auctor eu placerat at, auctor a lacus. Nunc porta urna vel luctus porta. Pellentesque vulputate tortor velit, non sodales sapien dictum at. Mauris cursus, neque vel egestas posuere, felis ligula mollis leo, id scelerisque neque dui sed elit. Maecenas in purus sed massa semper elementum. Nunc id bibendum dolor, imperdiet blandit urna. Vestibulum ultrices sem nisl, et tincidunt tortor imperdiet eget. Maecenas faucibus nisl nec mi aliquam pellentesque eget et ex. In ut turpis eget dui maximus volutpat id a arcu.</p>
                                    
                                </div>
                        </div>

                </div>
</nav>
 <button type="button" class="voltar" (click)="Voltar()">Voltar</button>
 
</section>
 <!-- modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div  class="modal-dialog" role="document" >
          <div  class="modal-content" >
                  <div  class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Imagens</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                          </button>
                  </div>
                  <div  class="modal-body">
                          <img *ngIf="imagem" src="{{hostApi}}{{imagem}}" style="width: 80%;" alt="">

                  </div>
                  <div  class="modal-footer">
                  <div>
                    <img class="modalnav" src="assets/images/prev.png" (click)="ModalImg(CasoClinico.images[cont-1], cont-1)" *ngIf="cont > 0">
                    {{cont+1}} of {{MaxImg+1}}
                    <img class="modalnav"  src="assets/images/next.png" (click)="ModalImg(CasoClinico.images[cont+1], cont+1)"  *ngIf="cont < MaxImg" >
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                  </div>
          </div>
  </div>
</div>
