<section>
        <div id="principal"  >
        <h1>Caso: {{CasoClinico.CO_SEQ_CASO_CLINICO}}</h1>

    <div id="titulo">
            <img *ngIf="Img" class="capa"
                src="{{hostApi}}{{Img}}"
                alt="">
            <div id="Historia">
                <h5>História Clínica:</h5>
                <p>{{CasoClinico.DS_HISTORIA_CLINICA}}</p>
            </div>

    </div>
    <div id="Cards">
            <div class="imagens">
                 <img data-toggle="modal" data-target="#exampleModal" *ngFor="let url of  CasoClinico.images"
                    (click)="ModalImg(url)"
                    src="{{hostApi}}{{url}}"
                    alt="">
        </div>
   </div>
    
   <div id="sobre-caso">
        <div>
            <h6>Descrição dos Achados:</h6>
            <p>{{CasoClinico.DS_ACHADOS_DAS_IMAGENS}}</p>
        </div>
        <div>
            <h6>Discussão:</h6>
            <p>{{CasoClinico.DS_DISCUSSAO}}</p>
        </div>
        <div>
            <h6>Referências:</h6>
            <p>{{CasoClinico.DS_REFERENCIAS}}</p>
        </div>
        
        <div>
            <h6>Categoria da Doença:</h6>
            <p>{{CasoClinico.CO_CATEGORIA}}</p>
        </div>
        <div>
                <h6>Diagnóstico:</h6>
                <p>{{CasoClinico.DS_DIAGNOSTICO}}</p>
         </div>


    </div>
 <button type="button" class="btn btn-secondary" (click)="Voltar()">Voltar</button>

   
</div>

   <!-- modal
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
       <div class="modal-content" style="width: 50vh !important">
           <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Imagens:</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>
           <div  class="modal-body">
               <img  *ngIf="imagem" [src]="imagem" style="width: 100%;height: 100%;"  alt="">

           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>

           </div>
       </div>
   </div>
</div>
-->
  <!-- modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div  class="modal-dialog" role="document"
          style="margin-top: 20px; padding: 0 50vw 0 0;">
          <div  class="modal-content" style="width: 50vw !important">
                  <div  class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Imagens</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                          </button>
                  </div>
                  <div  class="modal-body">
                          <img *ngIf="imagem" src="{{hostApi}}{{imagem}}" style="width: 80%;" alt="">

                  </div>
                  <div  class="modal-footer">
                          <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Voltar</button>
                  </div>
          </div>
  </div>
</div>
</section>
