@text-nav : #01E065;
@back : #00CC5C;
@bnt :#1992BF;
@back-fundo:#393939;
@color-danger:  #df1717;
section{
    width: 100%;
    background-color: @back-fundo;
    min-height: 85.3vh;
    height: 100%;
    padding: 1em; 
    display: flex;
    h3{
        color: #fff;
        text-align: center;
    }
    div#Pendencias{
        width: 70%;
        height: 35%;
        margin: 0 auto;
     
        div.tabela{
            width: 100%;
            overflow-x: auto;
            max-height: 350px !important;
            background-color: #FFF;
        }
        
    }
    div#Informacao{
        width: 100%;
        height: 100%;
       
       
        margin-left: 2em;
        article{
            padding: 2em;
            background-color: #fcfcfc;
            border-radius: .8em;
        }
        button.enviar{
            margin: 1em;
            color: @bnt ;
            height: 40px;
            padding: 8px 27px;
            margin-left: 10px;
            background-color:#fff ;
            border: none;
            border-radius:3px  ;
            border: 1px solid  @bnt ;
                    &:hover{
                        color: #FFF;
                        background-color: @bnt ;

                    }
        
                
            
            }
            button.danger{
                margin: 1em;
                color: @color-danger ;
                height: 40px;
                padding: 8px 27px;
                margin-left: 10px;
                background-color:#fff ;
                border: none;
                border-radius:3px  ;
                border: 1px solid  @color-danger ;
                        &:hover{
                            color: #FFF;
                            background-color: @color-danger ;
    
                        }
            
                    
                
                }
        }

    }
