input.search{
    border-radius:0.3em 0 0 0.3em;
    padding: 0.2em;
   background-color: #9c9c9c;
   color: rgb(0, 0, 0);

}
input.search,button.bnt-search:focus{
    border: 0 none;
    outline: 0;
}
button.bnt-search{
    display: flex;
    height: 31px;
    justify-content: center;
    border-radius:0 0.3em 0.3em 0;
    background-color: #424242;
    border: none;
    padding: 0.2em .4em;
}
button.bnt-search:hover{
    cursor: pointer;
}