<section>
        <div id="Homolog" class="active">
       
                <div class="button">
                                <button  (click)="mostratabelas( tabela, 0)" class="M"></button>
                                <button  (click)="mostratabelas( tabela, 1)" class="V"></button>
                                <button  (click)="mostratabelas( tabela, 2)" class="A"></button>
                </div>
                <div id="tabelas">
 
                <div class="esperandoHomologacao"  *ngIf="tabela[0]" >
                        <h3>Esperando a Homologação</h3>
                        <div class="tabela">
                                <table class="table">
                                        <thead>
                                                <tr>
                                                        <th scope="col">#Caso</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Ver Caso</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let caso of CasosPendentes;let index = index">
                                                        <th scope="row">{{index+1}}</th>
                                                        <td>{{caso.CO_CATEGORIA}}</td>
                                                        <td><button type="button" class="btn btn-outline-primary"
                                                                        (click)="PopulaForms(caso)">Visualizar</button>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
                <div class="homologados"  *ngIf="tabela[1]"  >
                        <h3>Homologados</h3>
                        <div class="tabela">
                                <table class="table">
                                        <thead>
                                                <tr>
                                                        <th scope="col">#Caso</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Ver Caso</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let caso of CasosHomolagados;let index = index">
                                                        <th scope="row">{{index+1}}</th>
                                                        <td>{{caso.CO_CATEGORIA}}</td>
                                                        <td><button type="button" class="btn btn-outline-primary"
                                                                        (click)="PopulaForms(caso)">Visualizar</button>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
                <div class="agendados" *ngIf="tabela[2]" >
                        <h3>Agendados</h3>
                        <div class="tabela">
                                <table class="table">
                                        <thead>
                                                <tr>
                                                        <th scope="col">#Caso</th>
                                                        <th scope="col">Categoria</th>
                                                        <th scope="col">Data</th>
                                                        <th scope="col">Ver Caso</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                <tr *ngFor="let caso of CasosAgendados;let index = index">
                                                        <th scope="row">{{index+1}}</th>
                                                        <td>{{caso.CO_CATEGORIA}}</td>
                                                        <td>{{caso.DT_SEMANA}}</td>
                                                        <td><button type="button" class="btn btn-outline-primary"
                                                                        (click)="PopulaForms(caso)">Visualizar</button>
                                                        </td>
                                                </tr>
                                        </tbody>
                                </table>
                        </div>
                </div>
                </div>
               
           
        </div>

        <nav id="RegisterCases">
                <div class="header">
                        <h3>Homologação</h3>
                </div>
                <ul>
                        <li><button type="button" [class.active]="classes[0]"
                                        (click)="toggle(classes, 0)"><span>1</span>História
                                        Clínica</button></li>
                        <li><button type="button" [class.active]="classes[1]"
                                        (click)="toggle(classes, 1)"><span>2</span>Discussão</button></li>
                        <li><button type="button" [class.active]="classes[2]"
                                        (click)="toggle(classes, 2)"><span>3</span>Diagnóstico</button></li>
                        <li><button type="button" [class.active]="classes[3]"
                                        (click)="toggle(classes, 3)"><span>4</span>Imagens</button></li>
                        <li><button type="button" [class.active]="classes[4]"
                                        (click)="toggle(classes, 4)"><span>5</span>Revisão</button></li>
                </ul>

                <form id="toggleclasses" [formGroup]="formulario" (ngSubmit)="homologar()" enctype="multipart/form-data">
                        <div id="BNT0" class="form-group" [class.active]="classes[0]">
                                <div class="form-container" [class.active]="classes[0]">
                                        <label for="DS_HISTORIA_CLINICA" class="control-label">Resumo:</label>
                                        <textarea type="text" class="form-control" formControlName="DS_HISTORIA_CLINICA" id="resumo" 
                                                [ngClass]="aplicaCssErro('DS_HISTORIA_CLINICA')" style="max-height: 50vh " rows="20"
                                                cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_HISTORIA_CLINICA')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>

                                        <button  id="proximo" type="button" class="btn btn-outline-primary" (click)="toggle(classes, 1)">proxima</button>
                                </div>
                        </div>
                        <div id="BNT1" [class.active]="classes[1]" class="form-group">
                                <div class="form-container" [class.active]="classes[1]">
                                        <label for="DS_DISCUSSAO" class="control-label">Discussão:</label>
                                        <textarea type="text" class="form-control" formControlName="DS_DISCUSSAO"
                                                id="discussao" [ngClass]="aplicaCssErro('DS_DISCUSSAO')"
                                                style="max-height: 30vh " rows="20" cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_DISCUSSAO')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                        <label id="referecias" for="DS_REFERENCIAS"
                                                class="control-label">Referências:</label>
                                        <textarea type="text" class="form-control" formControlName="DS_REFERENCIAS"
                                                id="referecias" [ngClass]="aplicaCssErro('DS_REFERENCIAS')"
                                                style="max-height: 30vh " rows="20" cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_REFERENCIAS')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>


                                        <button id="proximo" type="button" class="btn btn-outline-primary" (click)="toggle(classes, 2)">proxíma</button>
                                </div>
                        </div>
                        <div id="BNT2" [class.active]="classes[2] " class="form-group">
                                <div class="form-container" [class.active]="classes[2]">
                                        <label for="DS_DIAGNOSTICO" class="control-label">Diagnóstico:</label>
                                        <input type="text" class="form-control text" formControlName="DS_DIAGNOSTICO"
                                                id="nome" [ngClass]="aplicaCssErro('DS_DIAGNOSTICO')"
                                                placeholder="diagnostico">
                                        <span *ngIf="verificarValidTouched('DS_DIAGNOSTICO')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                        <label id="doenca" for="CO_CATEGORIA" class="control-label">Categoria da
                                                Doença:</label>
                                        <select (change)="SubCategorias()" formControlName="CO_CATEGORIA" class="custom-select"
                                                id="formControlName3" [ngClass]="aplicaCssErro('CO_CATEGORIA')">
                                                <option value=""></option>
                                                <option value="{{cat.id}}" *ngFor="let cat of  Categorias.categorias">{{cat.classe1}}</option>
                                   
                                                   
                                        </select>
                                        <span *ngIf="verificarValidTouched('CO_CATEGORIA')"
                                                class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                         <label id="doenca" for=" CO_SUBCATEGORIA" class="control-label">Sub-Categoria da
                                                Doença:</label>
                                                <select  [ngClass]="aplicaCssErro('CO_SUBCATEGORIA')" class="custom-select" formControlName="CO_SUBCATEGORIA"  >
                                                        <option value=""></option>
                                                        <option value="{{subcat.id}}" *ngFor="let subcat of auxiliar">{{subcat.classe}}</option>
                                                </select>
                                        <span *ngIf="verificarValidTouched('CO_SUBCATEGORIA')"
                                                class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                        

                                        <button id="proximo" type="button" class="btn btn-outline-primary" (click)="toggle(classes, 3)">proxima</button>
                                </div>
                        </div>
                        <div id="BNT3" [class.active]="classes[3] ">
                                <div class="form-container" [class.active]="classes[3]">
                                        <label for="DS_ACHADOS_DAS_IMAGENS" class="control-label">Descrição dos
                                                Achados:</label>
                                        <textarea type="text" class="form-control"
                                                formControlName="DS_ACHADOS_DAS_IMAGENS" id="referecias"
                                                [ngClass]="aplicaCssErro('DS_ACHADOS_DAS_IMAGENS')"
                                                style="max-height: 30vh " rows="10" cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_ACHADOS_DAS_IMAGENS')"
                                                class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                        <button id="proximo" type="button" class="btn btn-outline-primary" (click)="toggle(classes, 4)">proxima</button>
                                </div>
                        </div>

                        <div id="BNT4" [class.active]="classes[4]">

                                <div class="form-container" [class.active]="classes[4]">
                                        <h3>Revisão:</h3>

                                        <div id="Resumocontainer" [class.active]="classes[4]">
                                               

                                            
                                                <div id="resumofotos" [class.active]="classes[4]">
                                                                <!-- segundo estilo-->
                                                                <div id="carouselExampleControls" [class.active]="classes[4]" class="carousel slide" data-ride="carousel">
                                                                        <div [class.active]="classes[4]"  id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                                                                 <ol class="carousel-indicators">
                                                                                        <li  data-slide-to="0"></li> 
                                                                                        <li *ngFor="let url of urls;let index = index" data-slide-to="index+1"></li>      
                                                                                 </ol>
                                                                                        <ul   class="carousel-inner">
                                                                                                <li class="carousel-item active">
                                                                                                        <img class="d-block w-100"  src="../../../assets/images/doctor-1149149_1920.jpg" alt="First slide">
                                                                                                </li>
                                                                                                <li *ngFor="let url of urls" class="carousel-item ">
                                                                                                        <img class="d-block w-100" [src]="url" alt="imagem">
                                                                                                </li>
                                                                                        </ul>
                                                                                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                                                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Previous</span>
                                                                                </a>
                                                                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                                                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                                                        <span class="sr-only">Next</span>
                                                                                </a>
                                                                        </div>
                                                                 </div>




                                                         <!--
                                                             primeiro estlo
                                                        <img class="imgfull" [src]="image" alt="">

                                                        <div id="minCards" [class.active]="classes[4]">
                                                                <div [class.active]="classes[4]"
                                                                        *ngFor="let url of urls">
                                                                        <img class="card" [id]="id"
                                                                                (click)="MiniCard(url)" [src]="url"
                                                                                alt="Card image cap">
                                                                </div>
                                                        </div>
                                                            -->
                                                </div>

                                                <div id="resumos" [class.active]="classes[4]">

                                                        <div class="RDR" [class.active]="classes[4]">
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Resumo:</h5>
                                                                        <p> {{ formulario.value.DS_HISTORIA_CLINICA }} </p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Discussão:</h5>
                                                                        <p> {{ formulario.value.DS_DISCUSSAO }} </p>
                                                                </div>

                                                                <div [class.active]="classes[4]">
                                                                        <h5>Referências:</h5>
                                                                        <p> {{ formulario.value.DS_REFERENCIAS }} </p>
                                                                </div>

                                                        </div>
                                                        <div class="DCD" [class.active]="classes[4]">
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Diagnóstico:</h5>
                                                                        <p> {{ formulario.value.DS_DIAGNOSTICO }} </p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Categoria da Doença:</h5>
                                                                        <p> {{ formulario.value.CO_CATEGORIA}}</p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                                <h5>Sub Categoria da Doença:</h5>
                                                                                <p> {{ formulario.value.CO_SUBCATEGORIA}}</p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                        <h5> Descrição dos Achados:</h5>
                                                                        <p> {{ formulario.value.DS_ACHADOS_DAS_IMAGENS }}
                                                                        </p>
                                                                </div>



                                                        </div>
                                                </div>
                                        </div>
                                        <div [class.active]="classes[4]" *ngIf="!tabela[0]" class="form-row ">
                                                <div *ngIf="!tabela[2]" style="flex-direction: column; width: 100%;" [class.active]="classes[4]" class="form-group col-md-4 ">
                                                <label for="DT_SEMANA" class="control-label">Data de Agendamento</label>
                                                <div [class.active]="classes[4]" class="form-group">
                                                        <div  [class.active]="classes[4]" class="input-group">
                                                          <input type = "button" (click)="d.toggle()" class="form-control" placeholder="yyyy-mm-dd"
                                                                formControlName="DT_SEMANA" ngbDatepicker #d="ngbDatepicker">
                                                          <div [class.active]="classes[4]" class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><img src="https://img.icons8.com/ios-filled/18/000000/calendar.png"></button>
                                                          </div>
                                                        </div>
                                                       
                                                      </div>
                                              
                                                </div>
                                        
                                              </div>
                                        <button (click)="Desagendar()" type="button" *ngIf="tabela[2]" class="btn btn-outline-success" >Desagendar</button>
                                       <div class="Acoes" [class.active]="classes[4]" *ngIf="!tabela[2]">
                                        <button type="button" *ngIf="!tabela[1]" class="btn btn-outline-danger"> Deletar </button>
                                        <button type="button" *ngIf="!tabela[1]" class="btn btn-outline-warning"> Reenviar</button>
                                        <button type="submit" *ngIf="!tabela[1]" class="btn btn-outline-success" >Homologar</button>
                                         <button (click)="Agendar()" type="button" *ngIf="!tabela[0]" class="btn btn-outline-success agendar" >Agendar</button>
                                         <button (click)="Disponibilizar()"  type="button" *ngIf="!tabela[0]" class="btn btn-outline-success" >Disponibilizar</button>
                                       
                                   
                                       </div>
                                       

                                </div>
                        </div>
                </form>
        </nav>
        <!-- modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div [class.active]="classes[3]" class="modal-dialog" role="document"
                        style="margin-top: 5%; padding: 0 50vw 0 0;">
                        <div [class.active]="classes[3]" class="modal-content" style="width: 50vw !important">
                                <div [class.active]="classes[3]" class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Imagens: {{CapaImg+1}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div [class.active]="classes[3]" class="modal-body">
                                        <img [src]="image" style="width: 100%;" alt="">

                                </div>
                                <div [class.active]="classes[3]" class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Voltar</button>
                                        <button type="button" (click)="SalvarCapa(CapaImg)" class="btn btn-primary" data-dismiss="modal">Salvar como
                                                Capa</button>
                                </div>
                        </div>
                </div>
        </div>

</section>
