@text-nav : #01E065;
@back : #00CC5C;
@bnt :#1992BF;
@back-fundo:#393939;

section{
    width: 100%;
    min-height: 85.3vh;
    height: 100%;
  //  background-image: url("../../../assets/images/analysis-2030266_1920.jpg");
   // background-attachment: fixed;
  //  background-repeat: no-repeat;
  //  background-size: auto;
  //  padding-bottom: 2em;
  background-color:@back-fundo ;
  padding: 1em 0px ;
    
    div.header{
        h2{
            color: aliceblue;
          
            margin-bottom: .2em;
            text-align: center;
        }
        hr{
            width: 270px;
            height: 2px;
            background-color: @text-nav ;
            margin: auto;
            margin-bottom: 3em;

            
        }
    }
}
@media screen and(min-width: 2000px) {
    section{
     width: 2000px;
     margin: 0 auto;
    }
    
 
 }

nav#RegisterCases{
    width: 90%;
    min-width:300px;
    margin: auto;
    margin-bottom: 2em;
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        li{
            list-style: none;
            button{
                outline: 0;
                padding: .5em;
                border: none;
                border-radius: .2em .2em 0em 0em ;
                background-color:  #dddada;
                z-index: 0;
                &:hover{
                    cursor: pointer;
                }
                &.active{
                    background-color: #FFF;
                    opacity: 1.2;
                }
                span{
                    padding: 0em .4em;
                    background: #000;
                    color: #FFF;
                    border-radius: .3em;
                    margin-right: .6em;
                }
                
            }
        }
    }
    @media screen and(max-width: 699px) {
            ul{
                li{
                    button{
                        font-size: .8em;
                        span{
                            
                        }
                    }
                }
            }
        
    }
    @media screen and(max-width: 560px) {
        ul{
            li{
                button{
                    font-size: .6em;
                    span{
                        
                    }
                }
            }
        }
    
}
@media screen and(max-width: 460px) {
    ul{
        li{
            button{
                font-size: .5em;
                span{
                    
                }
            }
        }
    }

}
@media screen and(max-width: 352px) {
    ul{
        li{
            button{
                font-size: .4em;
            }
        }
    }

}
    form#toggleclasses{
        width: 100%;
        height: 100%;
        min-height: 200px;
        padding: 1em;
        margin: auto;
        background-color:#ffffff;
        border-radius: 0 .3em .3em ;
        box-shadow: .2em 0.3em  .2em #5c5c5c;
       div{
           display: none;
           &.form-container{
               display: flex;
               margin: auto;
               flex-direction: column;
               width: 90%;
               textarea{
                width: 100%;
                min-height: 80px;
               }
               button{
                color: #FFF;
                @var: calc(100% - 100px);
                width: 100px;
                height: 40px;
                margin-top: 1em;
                border: none;
                background-color: @bnt;
                border-radius: .3em;
                margin-left: @var;
                &:hover{
                    color: @text-nav;
                }

                @media(max-width:700px){
                  width: 80px;
                  height: 35px;
                  font-size: 1em;
                  @var: calc(100% - 80px);
                  margin-left: @var;
                    
                }
                @media(max-width:560px){
                    width: 60px;
                    height: 30px;
                    font-size: .8em;
                    @var: calc(100% - 60px);
                    margin-left: @var;
                      
                  }
                  @media(max-width:460px){
                    width: 50px;
                    height: 20px;
                    font-size: .6em;
                    @var: calc(100% - 50px);
                    margin-left: @var;
                      
                  }
               }
           }
          
        }
        div.active{
            display: flex;
        }
        div#BNT3{
            flex-wrap: wrap;
             
                img:hover{
                 cursor: pointer;
                 display: flex;
                }
                label.imagenslabel{
                    text-align: center;
                }
               img.card{
                width: 100%;
                max-width: 180px;
                max-height: 180px;
                border: 5px solid rgb(255, 255, 255);
                box-shadow: 0.2em 0.3em .4em 0px #000000;
                margin-bottom: 2em;
                margin-left: 1em;
                opacity: .9;
                &:hover{
                    opacity: 1.2;
                }
                &:active{
                    position: relative;
                    box-shadow: 0.1em 0.15em .4em 0px #000000;
                }
               }
               span.letras{
                padding-left: 3px;
                width: 20px;
                height: 23px;
                background-color: #FFF;
                border-radius: 1px solid #ffffff;
                box-shadow: 1px 3px 5px 0px #000000;
                z-index: 2px;
                position: relative;
                left: 19px;
                top: 2px;
              
                
               }
               img#bntdelete{
                width: 20px;
                height: 20px;
                //background-color: #FFF;
                //border-radius: .8em  solid #ffffff;
                //border-radius: .3em;
                //box-shadow: 1px 3px 5px 0px #000000;
                z-index: 1px;
                position: relative;
                right: 1.2em;
                opacity: .6;
                &:hover{
                    opacity: 1;
                }
                &:active{
                    position: relative;
                    top: 0.1em;
                    box-shadow: none
                }
               }  
               div#cards{
                   margin: 1em auto;
                   display:flex;
                   flex-wrap: wrap;
                   justify-content: center;
               } 
               .browse-btn {
                margin: 0 auto;
                justify-content: center;
                max-width: 100px;
                max-height:100px ;
                min-width: 50px;
                min-height: 50px;
                border:1px solid #ccc;
                box-shadow: .2em 0.3em  .2em #5c5c5c;

                border-radius: .3em;
                &:active{
                    position: relative;
                    top: 0.3em;
                    box-shadow: none
                }
                #cameraImg {
                    cursor: pointer;
                    margin-top: 1em;
                    opacity: 0;
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    z-index: 3;
                }   
            }
            div#informacao{
                width:350px;
                @var: calc(100% - 390px);
                margin-left: @var;
                background-color: rgb(238, 214, 81);
                border-radius: .4em;
                padding: 1em;
            }
               
        }
        div#BNT4{
        
            div{
                #Resumocontainer{
                    display: flex;
                   width: 100%;
                   height: 100%;
                  flex-direction: column;
                  // justify-content: center;
                    #resumofotos{
                        //flex-direction: column;
                        width: 100%;
                        height: 100%;
                        margin-right: .7em;
                        padding-bottom:2em ;
                        div.IMGFUL{
                            width: 90%;
                            max-height: 410px;
                            display: flex;
                            justify-content: space-around;
                            img.imgfull{
                                width:400px;
                                border: 5px solid #838282;
                            }
                        }
                        div#minCards{
                            width: 100%;
                            height: 100%;
                            max-height:410px;
                            margin-left: 1em;
                            overflow: auto;
                            display: flex;
                            flex-wrap: wrap;
                            padding: 0.2em;
                            background-color: #707070;
                            border: 5px solid #2c2c2c36;
                          
                        div{
                            margin: .3em;
                            border: 2px solid rgb(255, 255, 255);
                            img{
                                width: 100px;
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
                        }
                    }
                    #resumos{
                        display: flex;
                        width: 100%;
                        p{
                            text-indent:3em;
                            text-align: justify;
                           text-justify: inter-word;
                        }
                        div.RDR{
                            display: block;
                            padding: 0.5em;
                            width: 100%;
                            height: 100%;
                            overflow-y: auto;
                        div{
                            display: block;
                        }
                            
                        }
                        div.DCD{
                            display: block;
                            padding: 0.5em;
                            width: 100%;
                            height: 100%;
                            overflow-y: auto;
                        div{
                            display: block;
                        }
                           
                        }

                    }
                }
                
            }
          
            // segundo estilo
         
            
        }
       
    }
    
}
div.modal-dialog{
    margin-top: 20px; 
    padding: 0 40vw 0 0;
    div.modal-content{
      width: 40vw !important;
      
                div.modal-body{
                    width: 100%;
                    background-color: #393939;
                    display: flex;
                    justify-content: center;
                    margin: auto;
                }
        img.modalnav:hover{
                 cursor: pointer;
        }
        div.modal-footer{
            display: flex;
            justify-content: space-between;
        }
    }
}
@media screen and(max-width: 1424px){
    div.modal-dialog{
        margin-top: 20px; 
        padding: 0 40vw 0 0;
        div.modal-content{
          width: 50vw !important;
        
          
        }
    }
}
@media screen and(max-width: 1124px){
    div.modal-dialog{
        margin-top: 20px; 
        padding: 0 50vw 0 0;
        div.modal-content{
          width: 60vw !important;
        
          
        }
    }
}
@media screen and(max-width: 900px){
    div.modal-dialog{
        margin-top: 20px; 
        padding: 0 55vw 0 0;
        div.modal-content{
          width: 70vw !important;
        
          
        }
    }
}
   