<section>
        <div class="header">
                <h2>Registrar Caso Clínico</h2>
                <hr>
        </div>

        <nav id="RegisterCases">
                <ul>
                <li><button type="button" [class.active]="classes[0]" (click)="toggle(classes, 0)"><span>1</span>História Clínica</button></li>
                <li><button type="button" [class.active]="classes[3]" (click)="toggle(classes, 3)"><span>2</span>Imagens</button></li>
                <li><button type="button" [class.active]="classes[2]" (click)="toggle(classes, 2)"><span>3</span>Diagnóstico</button></li>
                <li><button type="button" [class.active]="classes[1]" (click)="toggle(classes, 1)"><span>4</span>Discussão</button></li>
                <li><button type="button" [class.active]="classes[4]" (click)="toggle(classes, 4)"><span>5</span>Revisão</button></li>
                </ul>

                <form id="toggleclasses" [formGroup]="formulario" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                        <div id="BNT0" class="form-group" [class.active]="classes[0]">
                                <div class="form-container" [class.active]="classes[0]">
                                        <label for="DS_HISTORIA_CLINICA" class="control-label">Resumo:</label>
                                        <textarea type="text" class="form-control" formControlName="DS_HISTORIA_CLINICA" id="resumo"
                                                [ngClass]="aplicaCssErro('DS_HISTORIA_CLINICA')" style="max-height: 30vh " rows="8"
                                                cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_HISTORIA_CLINICA')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>

                                        <button type="button" (click)="toggle(classes, 3)">proxíma</button>
                                </div>
                        </div>
                        <div id="BNT1" [class.active]="classes[1]" class="form-group">
                                <div class="form-container" [class.active]="classes[1]">
                                        <label for="DS_DISCUSSAO" class="control-label">Discussão:</label>
                                        <textarea type="text" class="form-control" formControlName="DS_DISCUSSAO"
                                                id="discussao" [ngClass]="aplicaCssErro('DS_DISCUSSAO')"
                                                style="max-height: 30vh " rows="7" cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_DISCUSSAO')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                        <label id="referecias" for="DS_REFERENCIAS"
                                                class="control-label">Referências:</label>
                                        <textarea type="text" class="form-control" formControlName="DS_REFERENCIAS"
                                                id="referecias" [ngClass]="aplicaCssErro('DS_REFERENCIAS')"
                                                style="max-height: 30vh " rows="7" cols="4"></textarea>
                                        <span *ngIf="verificarValidTouched('DS_REFERENCIAS')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>


                                        <button type="button" (click)="toggle(classes, 4)">proxíma</button>
                                </div>
                        </div>
                        <div id="BNT2" [class.active]="classes[2] " class="form-group">
                                <div class="form-container" [class.active]="classes[2]">
                                        <label for="DS_DIAGNOSTICO" class="control-label">Diagnóstico:</label>
                                        <input type="text" class="form-control text" formControlName="DS_DIAGNOSTICO"
                                                id="nome" [ngClass]="aplicaCssErro('DS_DIAGNOSTICO')"
                                                placeholder="diagnostico">
                                        <span *ngIf="verificarValidTouched('DS_DIAGNOSTICO')" class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>
                                        <label id="doenca" for="CO_CATEGORIA" class="control-label">Categoria da
                                                Doença:</label>
                                        <select formControlName="CO_CATEGORIA" class="custom-select"
                                                id="formControlName3" [ngClass]="aplicaCssErro('CO_CATEGORIA')">
                                                <option selected></option>
                                                <option value="{{categoria.id}}" *ngFor="let categoria of  Categoria$.categorias">{{categoria.classe1}}</option>
                                                
                                        </select>
                                        <span *ngIf="verificarValidTouched('CO_CATEGORIA')"
                                                class="invalid-feedback">
                                                Campo é obrigatório.
                                        </span>

                                        <button type="button" (click)="toggle(classes, 1)">proxíma</button>
                                </div>
                        </div>
                        <div id="BNT3" [class.active]="classes[3] ">
                                     <div [class.active]="classes[3]"  id="informacao" >  <span > <strong> A entrada do texto será disponibilizada após inserir as imagens</strong></span></div> 
                                <div class="form-container" [class.active]="classes[3]">
                                      
                                        <span *ngIf="img_Capa_OK">
                                                <label for="DS_ACHADOS_DAS_IMAGENS" class="control-label">Descrição dos
                                                        Achados:</label>
                                                <textarea type="text" class="form-control"
                                                        formControlName="DS_ACHADOS_DAS_IMAGENS" id="referecias"
                                                        [ngClass]="aplicaCssErro('DS_ACHADOS_DAS_IMAGENS')"
                                                        style="max-height: 30vh " rows="8" cols="4"></textarea>
                                                <span *ngIf="verificarValidTouched('DS_ACHADOS_DAS_IMAGENS')"
                                                        class="invalid-feedback">
                                                        Campo é obrigatório.
                                                </span>
                                        </span>
                                        <label class="imagenslabel" for="imagens">Selecione as imagens</label>
                                        <div id="cards" [class.active]="classes[3] ">
                                                
                                                <div [class.active]="classes[3]"
                                                        *ngFor="let url of urls;let index = index">
                                                        <span class="letras" >{{Letras[index]}}</span>
                                                        <img data-toggle="modal" data-target="#exampleModal"
                                                                (click)="ModalImg(url,index,Letras[index])" class="card" [src]="url"
                                                                alt="Card image cap">
                                                        <img id="bntdelete" (click)="Delete(index)"
                                                                src="../../../assets/images/remover.png"
                                                                alt="Delete">

                                                </div>
                                        </div>
                                        <div [class.active]="classes[3]" class="browse-btn">
                                                <input type="file" name="Img" id="cameraImg" multiple
                                                        (change)="detectFiles($event)"  />
                                                <div [class.active]="classes[3]" class="browse-image">
                                                        <img
                                                        src="https://img.icons8.com/wired/80/000000/add-camera.png">
                                                </div>
                                                        
                                        </div>
                                        <div>
                                                
                                        </div>

                                        <button type="button" (click)="toggle(classes, 2)">proxíma</button>
                                </div>
                        </div>

                        <div id="BNT4" [class.active]="classes[4]">

                                <div class="form-container" [class.active]="classes[4]">
                                        <h3>Revisão:</h3>

                                        <div id="Resumocontainer" [class.active]="classes[4]">
                                               

                                            
                                                <div id="resumofotos" [class.active]="classes[4]">
                                                       
                                                        <div class="IMGFUL" [class.active]="classes[4]">
                                                        <img class="imgfull" [src]="image" alt="">
                                                        </div>
                                                        <div id="minCards" [class.active]="classes[4]">
                                                                <div [class.active]="classes[4]"
                                                                        *ngFor="let url of urls">
                                                                        <img class="card" [id]="id"
                                                                                (click)="MiniCard(url)" [src]="url"
                                                                                alt="Card image cap">
                                                                </div>
                                                        </div>
                                                           
                                                </div>

                                                <div id="resumos" [class.active]="classes[4]">

                                                        <div class="RDR" [class.active]="classes[4]">
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Resumo:</h5>
                                                                        <p> {{ formulario.value.DS_HISTORIA_CLINICA }} </p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Discussão:</h5>
                                                                        <p> {{ formulario.value.DS_DISCUSSAO }} </p>
                                                                </div>

                                                                <div [class.active]="classes[4]">
                                                                        <h5>Referências:</h5>
                                                                        <p> {{ formulario.value.DS_REFERENCIAS }} </p>
                                                                </div>

                                                        </div>
                                                        <div class="DCD" [class.active]="classes[4]">
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Diagnóstico:</h5>
                                                                        <p> {{ formulario.value.DS_DIAGNOSTICO }} </p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                        <h5>Categoria da Doença:</h5>
                                                                        <p> {{   ViewCategorias.Categorias[formulario.value.CO_CATEGORIA]}}</p>
                                                                </div>
                                                                <div [class.active]="classes[4]">
                                                                        <h5> Descrição dos Achados:</h5>
                                                                        <p> {{ formulario.value.DS_ACHADOS_DAS_IMAGENS }}
                                                                        </p>
                                                                </div>



                                                        </div>
                                                </div>
                                        </div>

                                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                                </div>
                        </div>


                </form>
        </nav>
        <!-- modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div [class.active]="classes[3]" class="modal-dialog" role="document"
                       >
                        <div [class.active]="classes[3]" class="modal-content" >
                                <div [class.active]="classes[3]" class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Imagen : {{letra}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                        </button>
                                </div>
                                <div [class.active]="classes[3]" class="modal-body">
                                        <img [src]="image" style="width: 80%;" alt="">

                                </div>
                                <div [class.active]="classes[3]" class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Voltar</button>

                                <div [class.active]="classes[3]" >
                                        <img class="modalnav" src="assets/images/prev.png" (click)="ModalImg(urls[cont-1],cont-1,Letras[cont-1])" *ngIf="cont > 0">
                                        <span> {{cont+1}} of {{MaxImg+1}}</span>
                                        <img class="modalnav"  src="assets/images/next.png" (click)="ModalImg(urls[cont+1],cont+1,Letras[cont+1])"  *ngIf="cont < MaxImg" >
                                </div>
                                       
                                        <button type="button" (click)="SalvarCapa(CapaImg)" class="btn btn-info" data-dismiss="modal">Salvar como
                                                Capa</button>
                                </div>
                        </div>
                </div>
        </div>

</section>