<section >
<form  class="container" [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <!--[formGroup]="formulario" para sicronizar com o formulario do TS-->
    <div class="form-group">
        <label for="DS_NOME" class="control-label">NOME</label>
        <input type="text" class="form-control" formControlName="DS_NOME" id="DS_NOME" [ngClass]="aplicaCssErro('DS_NOME')"
            placeholder="Nome" >
        <div *ngIf="verificarValidTouched('DS_NOME')" class="invalid-feedback">

            Campo é obrigatório.
        </div>
    </div>
    
    <div class="form-group">
        <label for="DS_EMAIL">Email</label>
        <input type="DS_EMAIL" class="form-control" formControlName="DS_EMAIL" id="DS_EMAIL" [ngClass]="aplicaCssErro('DS_EMAIL')"
            placeholder="nome@email.com">
        <div *ngIf="verificarValidTouched('DS_EMAIL')" class="invalid-feedback">
            Campo é obrigatório.
        </div>
    </div>

    <div class="form-row ">
                <div class="form-group col-md-3">
                    <label for="DT_NASCIMENTO" class="control-label">Data de Nascimento</label>
                    <input  type="date" class="form-control" id="DT_NASCIMENTO" formControlName="DT_NASCIMENTO" [ngClass]="aplicaCssErro('DT_NASCIMENTO')" >
                    <div *ngIf="verificarValidTouched('DT_NASCIMENTO')" class="invalid-feedback">
                        Campo é obrigatório.
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="CO_PERFIL" class="control-label">Perfil</label>
                    <select  class="form-control" id="CO_PERFIL" formControlName="CO_PERFIL" [ngClass]="aplicaCssErro('CO_PERFIL')" name="CO_PERFIL">
                        <option value="" selected></option> 
                        <option value="1">Médico</option> 
                        <option value="2" >Estudante</option>
                        <option value="3">Demais Profissionais de Saúde</option>
                      </select>
                    <div *ngIf="verificarValidTouched('CO_PERFIL')" class="invalid-feedback">
                        Campo é obrigatório.
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="CO_ESPECIALIDADE" class="control-label">Especialidade</label>
                    <select  class="form-control" id="CO_ESPECIALIDADE" formControlName="CO_ESPECIALIDADE" [ngClass]="aplicaCssErro('CO_ESPECIALIDADE')" name="CO_ESPECIALIDADE">
                        <option value="" selected></option> 
                        <option value="1">Radiologia</option> 
                        <option value="2" >Neurologia</option>
                        <option value="3">Neurocirurgia</option>
                        <option value="4">Psiquiatria</option>
                        <option value="5">Geriatria</option>
                        <option value="6">Outros</option>
                      </select>
                      <div *ngIf="verificarValidTouched('CO_ESPECIALIDADE')" class="invalid-feedback">
                        Campo é obrigatório.
                    </div>
                </div>
    </div>
    <div class="form-row ">
              <div class="form-group col-md-3">
                    <label for="NU_CPF" class="control-label">CPF</label>
                    <input disabled type="text" class="form-control" id="NU_CPF" formControlName="NU_CPF" [ngClass]="aplicaCssErro('NU_CPF')" >
                    <div *ngIf="verificarValidTouched('NU_CPF')" class="invalid-feedback">
                        Campo é obrigatório.
                    </div>
                </div>
               <div class="form-group col-md-4">
                    <label for="CO_PAPEL" class="control-label">Papel que deseja assumir no NeuroRad</label>
                    <select  class="form-control" id="CO_PAPEL" formControlName="CO_PAPEL" [ngClass]="aplicaCssErro('CO_PAPEL')" name="CO_PAPEL">
                             <option value="" selected></option> 
                            <option value="1">Preceptor Adminstrador</option> 
                            <option value="2" >Preceptor Colaborador</option>
                            <option value="3">Residente Colaborador</option>
                            <option value="4">Residente Adminstrador</option>
                            <option value="5">Residente</option>
                      </select>
                      <div *ngIf="verificarValidTouched('CO_ESPECIALIDADE')" class="invalid-feedback">
                        Campo é obrigatório.
                    </div>
                </div>
    </div>
    <div id="termoNR">  
                
        <p> Termos de uso do NeuroRad <span class="termo" (click)="openXl(content)"> Visualisar o termo</span></p>
               
                
    </div>
    <button type="submit" class="btn btn-info" >Submit</button>
   
</form>
</section>

<!-- modal termo-->
<ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body container termo">

                <h6>NORMAS DE PUBLICAÇÃO DE CASOS NA PLATAFORMA NEURORAD POR USUÁRIOS COLABORADORES:</h6>

                <p>	•	Serão aceitos como usuários colaboradores, mediante cadastro na plataforma,  médicos especialistas ou residentes nas áreas de radiologia e diagnóstico por imagem, neurologia, neurocirurgia e psiquiatria ou estudantes de medicina sob supervisão de um médico especialista.</p>
                <p> •	Os casos precisam ser interessantes, educacionais e com diagnóstico confirmado por biópsia e/ou exames laboratoriais ou ainda nos casos com imagens patognomônicas ou achados típicos (ex. Uma malformação com aspectos típicos) . Eles não precisam ser raros. A aceitação do caso é inteiramente baseada no critério do administrador/revisor da plataforma. Ao receber o caso, uma notificação será enviada.</p>
                <p> 
	               •	Ao ser avaliado pelo revisor, o caso poderá ser homologado, devolvido para correções ou excluído. Em qualquer uma dessas hipóteses o autor será notificado.</p>
                <p> •	Nos casos devolvidos, após efetuar as correções o colaborador deverá reenviar o caso para nova revisão, onde o mesmo será homologado ou poderá ser devolvido uma segunda vez para nova correção. Neste caso, após a nova correção e reenvio, o caso será homologado ou excluído, não sendo possível devolver uma terceira vez.</p>
                <p>•	As imagens deverão ser anonimizadas. Nenhum dado de identificação do paciente poderá ser exibido.</p>
                <p> •	O caso poderá ser editado pelo administrador e devolvido para o colaborador para a sua reavaliação e reenvio. </p>

                    <h6>CASO</h6>
                <p>•	Resumo da história clínica, contendo sexo e idade do paciente</p>
                <p>•	Nome(s) do(s) autor(es)</p>
                <p>Imagens do caso (6, 9 ou 12 imagens) no formato JPG ou PNG. (excluir dados de identificação do paciente e nome do serviço) </p>
                <p>Descrição das imagens: As legendas devem ser escritas no tempo presente (por exemplo, "A imagem de RM ponderada em T1 mostra ...") e devem descrever os principais achados de imagem (achados negativos positivos e pertinentes). As setas devem ser colocadas a critério do autor. Nenhuma discussão sobre o diagnóstico final ou o diagnóstico diferencial deve ser incluída nas legendas.</p>
                <p>•	Diagnóstico</p>
                <p>•	Discussão sucinta e atualizada (1–2 linhas cada), incluindo 1) histórico, 2) informações clínicas relevantes, 3) principais recursos de diagnóstico, 4) uma lista de diagnósticos diferenciais e 5) opções de tratamento se achar necessário. Solicita-se aos autores que expandam a seção de diagnóstico diferencial, observando os recursos de imagem que ajudam a diferenciar cada um dos diagnósticos diferenciais mencionados.</p>
                <p>•	Duas a três referências bibliográficas relevantes e atuais. </p>
                <p>	•	O caso homologado para publicação poderá ser utilizado como um caso da semana ou ir direto para o arquivo geral de casos da plataforma, sendo arquivado conforme a categoria e subcategoria da qual ele pertença.</p>
                <p>•	As informações fornecidas sobre o caso são de inteira responsabilidade do autor colaborador. </p>


            <form class="container" [formGroup]="formulario" >
                <div  class="form-group mb-2">
                    <div class=" form-check" >
                        
                                <input type="radio" class=" form-check-input radioBtn" formControlName="DS_TERMO" id="DS_TERMO"  value="ok" [ngClass]="aplicaCssErro('DS_TERMO')"
                                placeholder="Nome" > 
                                <label class="form-check-label" for="exampleRadios1">Concordo com as normas de Publicação </label>
                            
                        <div *ngIf="verificarValidTouched('DS_TERMO')" class="invalid-feedback">
                        Campo é obrigatório.
                        </div>
                    </div>

                </div>
            </form>
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>